<div class="row">
    <div class="col-md-12" style="background-color: darkolivegreen; text-align: center;">
        <h1> That's all Folks. Thanks for coming </h1>
        {{#list customer}}
            Name: {{this.name}}  Table: {{this.table}} Waiter: {{this.waiter}}
        {{/list}}
    </div>
</div> 