<div class="container">
    <div class="row">
        <div class="col-md-3">{{data.name}}</div>
        <div class="col-md-3">{{data.lname}}</div>
        <div class="col-md-3">{{data.email}}</div>
        <div class="col-md-3">{{data.password}}</div>
    </div>
    <img height="30%" width="30%" src="https://static.scientificamerican.com/sciam/cache/file/00A865C6-9F1F-4412-A9CA2FC329C15F36_source.jpg" alt="secret image">
  </div> 